/* src/components/charts/ChartsPage.css updated */

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.toggle-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #343a40;
    background-color: #f8f9fa;
    color: #343a40;
}

.toggle-buttons button:hover {
    background-color: #e2e6ea;
}

.charts-page-wrapper {
    padding: 2rem;
    background-color: #f8f9fa;
    min-height: 80vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.charts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a 2x2 grid */
    gap: 2rem; /* Space between grid items */
}

.chart-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #343a40;
}
